@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.navbar {
  @apply w-fit h-full flex flex-col gap-8 items-start shadow-inner shadow-slate-500 bg-[#aaa9ad] px-5 py-10;
}

.navbar li {
  @apply flex gap-2 justify-start items-center p-2 cursor-pointer hover:text-white;
}

.outlet {
  @apply flex-1 h-full p-10 py-12;
}

@media screen and (min-width: 1000px) {
  .g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.96);transform-origin:0 0;-webkit-transform-origin:0 0;
  }
}

@media screen and (max-width: 768px) {
  .g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    margin-bottom: -35px;
  }
}
