@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.navbar {
  @apply w-1/5 h-full shadow-inner shadow-slate-500 bg-[#aaa9ad] pl-10 py-10;
}

.navbar li {
  @apply flex gap-2 justify-start items-center mb-2 cursor-pointer hover:text-white;
}

.outlet {
  @apply w-4/5 h-full p-10 py-12;
}

@media screen and (min-width: 1000px) {
  .g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.96);transform-origin:0 0;-webkit-transform-origin:0 0;
  }
}

@media screen and (max-width: 768px) {
  .g-recaptcha {
    transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    margin-bottom: -35px;
  }
}
